/* Styles for game.html */

#board {
  width: 320px;
  height: 400px;
  background-color: white;
  position: relative;
}

.tile {
  position: absolute;
  /*
  transition-property: top, left;
  transition-duration: 0.1s, 0.1s;
  transition-timing-function: ease-out;

   -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
        -o-transform: translateZ(0);
           transform: translateZ(0);
   */
}

.tile p {
  color: white;
  font-size: 1em;
  position: relative;
  top: 50%;
  user-select: none;
  -webkit-transform: translateY(-50%) translateZ(0);
     -moz-transform: translateY(-50%) translateZ(0);
       -o-transform: translateY(-50%) translateZ(0);
          transform: translateY(-50%) translateZ(0);
}

/* end */
