/* Styles for game.html */

.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-5 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-5 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5 {
    width: 20%;
    float: left;
  }
}

a.thumbnail {
  text-decoration: none;
  height: 150px;
}

a.thumbnail .caption p {
  font-size: 1em !important;
}

span.title {
  font-size: 1.5em;
  text-decoration: none;
}

.row {
  padding: 10px;
}

#board {
  width: 320px;
  height: 400px;
  background-color: white;
  position: relative;
}

.tile {
  position: absolute;
  /*
  transition-property: top, left;
  transition-duration: 0.1s, 0.1s;
  transition-timing-function: ease-out;

   -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
        -o-transform: translateZ(0);
           transform: translateZ(0);
   */
}

.tile p {
  color: white;
  font-size: 1em;
  position: relative;
  top: 50%;
  user-select: none;
  -webkit-transform: translateY(-50%) translateZ(0);
     -moz-transform: translateY(-50%) translateZ(0);
       -o-transform: translateY(-50%) translateZ(0);
          transform: translateY(-50%) translateZ(0);
}

/* end */
