<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img src="images/avatar.png" class="img-circle center-block">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        华容道(Huarong Dao) is one of my favorite puzzle games in my childhood, another one is 猜数字(Guess Number / Bulls and Cows).
        It was always my dream to write these two games by myself.
      </p>
      <p>
        In 2014, I wrote the iPhone Guess Number game with my friend Jack Chang, and we named it <a href="http://www.fatduckstudio.com" target="_blank">Cryption</a>.
        The game was published in Apple Store, and we were so happy about it.
      </p>
      <p>
        It's been a while since we finished the Cryption, so I decided to fulfill my dream by completing this game. I love HTML5, JavaScript and CSS3, so why not? I could have
        accomplished this project by using jQuery, but AngularJS caught my eye, it's simple, elegant, mvc, I love it. Yoeman is the framework that I used to scaffold the
        project, it provides Bower package manager, Grunt task manager, AngularJS, testing framework, jshint and more, also I use WebStorm as the IDE.
      </p>
      <p>
        There are two major algorithms in this game, they are DFS(Depth-First Search) and BFS(Breadth-First Search). When you click on each tile, the DFS will calculate
        the next path, when you get stuck and want some help, the AI will use BFS to find the best solution to solve the puzzle and play automatically. Although I still to
        optimize the BFS algorithm, the game logic works fine for now.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <i class="fa fa-github fa-3x"></i> Game source files: <a href="https://github.com/jeantimex/hua-rong-dao-html" target="_blank">https://github.com/jeantimex/hua-rong-dao-html</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img src="images/cryption.png" width="36px" height="36px"> iOS Cryption: <a href="http://itunes.apple.com/app/cryption/id851401134" target="_blank">http://itunes.apple.com/app/cryption/id851401134</a>
    </div>
  </div>
</div>
