<link rel="stylesheet" href="styles/game.css">

<h4 class="text-center">{{title}}</h4>

<div class="jumbotron">
  <div id="board" class="center-block">
    <tile ng-repeat="tile in tiles" tile="tile" ng-click="move($index)">
      <p>{{$index}}</p>
    </tile>
  </div>
</div>

<nav>
  <ul class="pager">
    <li ng-class="getPreviousClass()">
      <a ng-click="previousLevel()">Previous</a>
    </li>
    <li ng-class="getNextClass()">
      <a ng-click="nextLevel()">Next</a>
    </li>
  </ul>
</nav>